//
//  Config1.xcconfig
//  testConfiguration
//
//  Created by Mohammad Alabed on 03/04/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-projBatata/Pods-projBatata.staging.xcconfig"

APP_NAME = 34بطاطا
APP_BUNDLE_IDENTIFIER = com.test.batata.staging
FirebaseDynamicLinksCustomDomains = ['https://app.lemune.com']
BundleURLName = com.lemune.app.staging
BundleUrlSchemes = [re.notifica,fbAPP-ID]
CFBundleURLTypes = 'keep this value'
AssociatedDomains = [applinks:example.com,applinks:sub.example.com]
