//
//  Config1.xcconfig
//  testConfiguration
//
//  Created by Mohammad Alabed on 03/04/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-projBatata/Pods-projBatata.production.xcconfig"

APP_NAME = بطاطا
APP_BUNDLE_IDENTIFIER = com.test.batata.prod
fontName1 = YustineSignature
fontName2 = KasperLullabyRegular
font1FileName = font1.ttf
font2FileName = Kasper Lullaby.otf

text1Color = 0xef2924
FONTS_PATH = com.test.batata/Fonts
